<!DOCTYPE html>
<!-- 
Agenda MS 2018 
Desenvolvido por: Marcos Willian de Souza 
adm.html - Pagina Administrativa da Agenda MS 
-->
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/style-agendams-global-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-sup-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-grid-css.css"/>
		<title>Agenda MS :: Administração</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="link_topo">
					<a href="sair.html">Logout</a><a href="conta.html">Conta</a>
				</div>
				<img id="logo" src="img/logo-agenda-ms-adm.png" />
			</div>
			<div id="body">
				<ul class="nav" id="menu">
					<li><a href="home.html">Home</a></li>
					<li><a href="contatos.html">Contatos</a></li>
					<li><a href="usuarios.html">Usuarios</a></li>
					<li class="selected"><a href="adm.html">Administração</a></li>
				</ul>
				<br />
				<div id="formulario">
					<h1>Administração</h1>
					<h3>Administração da Agenda MS</h3>
					<form>
						<div id="tabela">
							<table>
								<caption>Usuários</caption>
								<thead>
									<tr>
										<th class="adm-usuario-coluna1">ID</th>
										<th class="adm-usuario-coluna2">Nome</th>
										<th class="adm-usuario-coluna3">Login</th>
										<th class="adm-usuario-coluna4">Tipo de Conta</th>
										<th class="adm-usuario-coluna5">Operação</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Administrativa</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
									<tr>
										<td class="adm-usuario-coluna1">1</td>
										<td class="adm-usuario-coluna2">Marcos Willian de Souza</td>
										<td class="adm-usuario-coluna3">marcos</td>
										<td class="adm-usuario-coluna4">Normal</td>
										<td class="adm-usuario-coluna5"> &nbsp </span><a href="adm-alterar.html">Alterar</a> &nbsp | &nbsp <a href="adm-excluir.html">Excluir</a><span> &nbsp | &nbsp </span><a href="adm-consultar.html">Consultar</a> &nbsp </td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
			<div id="footer">
				<small>Agenda MS - 2018</small><br />
				<small>Desenvolvido por: Marcos Willian de Souza</small>
			</div>
		</div>
	</body>
</html>