<!DOCTYPE html>
<!-- 
Agenda MS 2018 
Desenvolvido por: Marcos Willian de Souza 
alterar.html - Pagina de confirmação de alteração Agenda MS 
-->
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/style-agendams-global-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-formulario-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-sup-css.css"/>
		<script src="scripts/script-agendams-validacao-js.js"></script>
		<script src="scripts/script-agendams-mascara-js.js"></script>
		<script src="scripts/script-agendams-global-js.js"></script>
		<title>Agenda MS :: Alterar</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="link_topo">
					<a href="sair.html">Logout</a><a href="conta.html">Conta</a>
				</div>
				<img id="logo" src="img/logo-agenda-ms.png" />
			</div>
			<div id="body">
				<div id="formulario">
					<h1>Alterar</h1>
					<h3>Alterar Contato</h3>
					<form id="form1" class="form" method="post" action="contatos.html" onSubmit="return validaFormulario()">
						<label for="nome" class="contato">Nome:</label>
						<input type="text" name="Nome" id="nome" class="contato" maxlength="100"/>
						<label for="cpf" class="contato">CPF:</label>
						<input type="text" name="CPF" id="cpf" class="contato" onchange="mascaraCpf();"  maxlength="15"/>
						<label for="telefone" class="contato">Telefone:</label>
						<input type="text" name="Telefone" id="telefone" class="contato" onchange="mascaraTelefone();" maxlength="13"/>
						<label for="celular" class="contato">Celular:</label>
						<input type="text" name="Celular" id="celular" class="contato" onchange="mascaraCelular();" maxlength="14"/>
						<label for="email" class="contato">E-email:</label>
						<input type="text" name="Email" id="email" class="contato" maxlength="100"/>
						<label for="site" class="contato">Site:</label>
						<input type="text" name="Site" id="site" class="contato" maxlength="100"/><br />
						<input type="submit" name="Alterar" id="alterar" class="btn-contato" value="Alterar" /> &nbsp 
						<input type="button" name="Voltar" id="voltar" class="btn-contato" value="Voltar" onclick="location. href='contatos.html'"/>
					</form>
				</div>
			</div>
			<div id="footer">
				<small>Agenda MS - 2018</small><br />
				<small>Desenvolvido por: Marcos Willian de Souza</small>
			</div>
		</div>
	</body>
</html>