<!DOCTYPE html>
<!-- 
Agenda MS 2018 
Desenvolvido por: Marcos Willian de Souza 
contatos.html - Lista de contatos da Agenda MS 
-->
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/style-agendams-global-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-sup-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-grid-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-formulario-css.css"/>
		<title>Agenda MS :: Contatos</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="link_topo">
					<a href="sair.html">Logout</a><a href="conta.html">Conta</a>
				</div>
				<img id="logo" src="img/logo-agenda-ms.png" />
			</div>
			<div id="body">
				<ul class="nav" id="menu">
					<li><a href="home.html">Home</a></li>
					<li class="selected"><a href="contatos.html">Contatos</a></li>
					<li><a href="usuarios.html">Usuarios</a></li>
					<li><a href="adm.html">Administração</a></li>
				</ul>
				<br />
				<div id="formulario">
					<h1>Contatos</h1>
					<h3>Lista de Contatos</h3>		
					<form>
						<div id="tabela">
							<table>
								<caption>Contatos</caption>
								<thead>
									<tr>
										<th class="contato-coluna1">ID</th>
										<th class="contato-coluna2">Nome</th>
										<th class="contato-coluna3">CPF</th>
										<th class="contato-coluna4">Telefone</th>
										<th class="contato-coluna5">Celular</th>
										<th class="contato-coluna6">E-Mail</th>
										<th class="contato-coluna7">Site</th>
										<th class="contato-coluna8">Operação</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">(11)3911-0710</td>
										<td class="contato-coluna5">(11)98505-3606</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">332.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">332.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">222.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
									<tr>
										<td class="contato-coluna1">1</td>
										<td class="contato-coluna2">Marcos Willian de Souza</td>
										<td class="contato-coluna3">000.353.111-03</td>
										<td class="contato-coluna4">113911-0710</td>
										<td class="contato-coluna5">113911-0710</td>
										<td class="contato-coluna6">marcosws_444@gmail.com</td>
										<td class="contato-coluna7">www.xpsssworking.com</td>
										<td class="contato-coluna8"> &nbsp <a href="alterar.html">Alterar</a><span> &nbsp | &nbsp </span><a href="excluir.html">Excluir</a> &nbsp </td>
									</tr>
								</tbody>
							</table>
						</div>
						<br />
						<input type="button" name="Incluir" id="incluir" class="contato" value="Incluir" onclick="location. href='incluir.html'"/>
					</form>
				</div>
			</div>
			<div id="footer">
				<small>Agenda MS - 2018</small><br />
				<small>Desenvolvido por: Marcos Willian de Souza</small>
			</div>
		</div>
	</body>
</html>
