<!DOCTYPE html>
<!-- 
Agenda MS 2018 
Desenvolvido por: Marcos Willian de Souza 
home.html - Pagina Home da Agenda MS 
-->
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/style-agendams-global-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-sup-css.css"/>
		<title>Agenda MS :: Home</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="link_topo">
					<a href="sair.html">Logout</a><a href="conta.html">Conta</a>
				</div>
				<img id="logo" src="img/logo-agenda-ms.png" />
			</div>
			<div id="body">
				<ul class="nav" id="menu">
					<li class="selected"><a href="home.html">Home</a></li>
					<li><a href="contatos.html">Contatos</a></li>
					<li><a href="usuarios.html">Usuarios</a></li>
					<li><a href="adm.html">Administração</a></li>
				</ul>
				<br />
				<div id="formulario">
					<h1>Home</h1>
					<h3>Bem Vindo a Agenda MS!</h3>
					<h5>Com a Agenda MS você pode manter seus contatos de forma facil.</h5>
					<h4>Você tem {0} Contatos Cadastrados.</h4>
					<h4>Total de Contatos Cadastrados: {0}</h4>
					<h4>Total de Usuários Cadastrados: {0}</h4>
					
				</div>
			</div>
			<div id="footer">
				<small>Agenda MS - 2018</small><br />
				<small>Desenvolvido por: Marcos Willian de Souza</small>
			</div>
		</div>
	</body>
</html>