<!DOCTYPE html>
<!-- 
Agenda MS 2018 
Desenvolvido por: Marcos Willian de Souza 
usuarios.html - Lista de usuarios da Agenda MS 
-->
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles/style-agendams-global-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-global-menu-sup-css.css"/>
		<link rel="stylesheet" href="styles/style-agendams-grid-css.css"/>
		<title>Agenda MS :: Usuários</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="link_topo">
					<a href="sair.html">Logout</a><a href="conta.html">Conta</a>
				</div>
				<img id="logo" src="img/logo-agenda-ms.png" />
			</div>
			<div id="body">
				<ul class="nav" id="menu">
					<li><a href="home.html">Home</a></li>
					<li><a href="contatos.html">Contatos</a></li>
					<li class="selected"><a href="usuarios.html">Usuarios</a></li>
					<li><a href="adm.html">Administração</a></li>
				</ul>
				<br />
				<div id="formulario">
					<h1>Usuarios</h1>
					<h3>Lista de Usuarios</h3>
					<div id="tabela">
						<table>
							<caption>Usuários</caption>
							<thead>
								<tr>
									<th class="usuario-coluna1">Nome</th>
									<th class="usuario-coluna2">Login</th>
									<th class="usuario-coluna3">Tipo de Conta</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Administrativa</td>
								</tr>
                                <tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								                                <tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								                                <tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								                                <tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								                                <tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								 <tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
								<tr>
									<td class="usuario-coluna1">Marcos Willian de Souza</td>
									<td class="usuario-coluna2">marcos</td>
									<td class="usuario-coluna3">Normal</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="footer">
				<small>Agenda MS - 2018</small><br />
				<small>Desenvolvido por: Marcos Willian de Souza</small>
			</div>
		</div>
	</body>
</html>